{% extends "base.html" %}

{% block content %}
<div class="gallery-container">
    <h2 style="font-size: 2.5rem; font-weight: bold; margin-bottom: 0.5rem;">Gallery</h2>
    <h3 style="font-size: 1.75rem; color: #6c757d; margin-bottom: 1rem;">Landscape and Dreamscape Portraits</h3>
    <div class="gallery">
        {% for painting in paintings %}
        <div class="gallery-item">
            <a href="{{ painting.get_absolute_url }}">
                <img src="{{ painting.image.url }}" alt="{{ painting.name }}">
                <h4 style="font-size: 1.75rem;">{{ painting.title }}</h4>
                <p>€{{ painting.price }}</p>
            </a>
        </div>
        {% empty %}
        <p>No paintings available at the moment.</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}